.container{
    margin-left: 250px;
    margin-top: 50px;
    /* display: flex; */

}

.logo-image{
    background-image: url('./medDocsLogo-white.jpg');
     height: 120px;
    width: 100%; 
    margin-left: 0px;
    background-repeat: no-repeat;
background-position: center center;

background-size: 100% cover;
}